/* Blue color scheme */
:root {
    --primary-color: #00bfff;
    --secondary-color: #f2f2f2;
}

/* Basic table styles */
table {
    border-collapse: collapse;
    width: 75%;
    table-layout: fixed;
    margin-top: 20px;
}


th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--secondary-color);
}

.sticky-header {
    position: sticky;
}

th {
    background-color: var(--primary-color);
    color: white;
    position: sticky;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

.form-and-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Button styles */
button.add-product-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 115px;
}

button.add-product-button:hover {
    background-color: #0080ff;
}

/* Form styles */
/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.form-group input {
    flex: 1;
    width: 100%;
    max-width: 300px;
}

/* Headline styles */
h1, h2 {
    color: var(--primary-color);
}

/* Product list styles */
.product-list-div {

    width: 50%;

    margin-right: 50px;
}

.list{
    overflow-y: scroll;
    height:400px;
}
